pandas
numpy
scikit-learn
yfinance
ta
matplotlib
plotly
streamlit
joblib

# development & notebooks
jupyterlab
ipykernel
nbconvert
ipywidgets
nbstripout
jupyterlab-git
jupyter-resource-usage
jupyterlab-lsp